* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.user-shell {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 12px;
  margin: 8px;
  height: 30px;
  gap: 8px;
}
